
<p-tabView styleClass="tabview-custom" [scrollable]="true">
  <p-tabPanel
    *ngFor="let trader of traders"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
          <p-avatar 
              [image]="trader?.imageLink" 
              shape="square" />
          <span class="font-bold white-space-nowrap m-0">
            {{trader?.name}}
          </span>
      </div>
    </ng-template>
    <app-trader-panel
      [tasks]="tasks"
      [trader]="trader">
    </app-trader-panel>
  </p-tabPanel>  
</p-tabView>


